* {
    padding: 4px;
    margin: 2px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
}

body {
    min-width: 715px;
    margin-left:auto;
    margin-right:auto;
    background-color: #b81825;
}

button {
    background-color: #32bacf;
    color: rgb(0, 0, 0);
}

p {
    color: #FFE4BA;
    font-size: 40px;
}

.mainContainer {
    width: 575px;
    height: 575px;
    display: inline-grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #b81825;
}

.box {
    border: .5px black solid;
    padding: 0px;
    margin: 0px;
    background-color: #FAEBD7;    
}

.settingsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b81825;
}