* {
    border: 1px solid red;
    padding: 4px;
    margin: 4px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
}

.mainContainer {
    width: 575px;
    height: 575px;
    display: inline-grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.box {
    border: .5px black solid;
    padding: 0px;
    margin: 0px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #32bacf;
    margin: 10px;
    text-align: center;
}